div {
    page-break-after: always;
}

.people, .everyone, .response {
    font-style: italic;
}

.lord {
    font-variant: small-caps;
}

.verseno {
    vertical-align: super;
    font-size: 50%;
}

.psalm h2, .psalm h3 {
    -webkit-margin-after: 0em;
}

.psalm p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.cite {
    font-style: italic;
    font-size: 75%;
}

.continuation {
    padding-left: 2em;
}

.double-continuation {
    padding-left: 4em;
}
