<h2>The Confession and Absolution</h2>
<p>
    <span class="officiant">The Lord Almighty grant us a peaceful night and a perfect end. <span class="everyone">Amen.</span></span><br>
    <span class="officiant">Our help is in the name of the Lord;</span><br>
    <span class="people">The maker of heaven and earth.</span><br>
    <span class="officiant">Let us confess our sins to God.</span>
</p>

<p class="everyone">
    Almighty God, our heavenly Father: We have sinned against you, through our own fault, in thought, and word, and deed, and in what we have left undone. For the sake of your Son our Lord Jesus Christ, forgive us all our offenses; and grant that we may serve you in newness of life, to the glory of your Name. Amen.
</p>

<p class="officiant">
    May the Almighty God grant us forgiveness of all our sins, and the grace and comfort of the Holy Spirit. <span class="everyone">Amen.</span>
</p>
<p>
    <span class="officiant">O God, make speed to save us.</span><br>
    <span class="people">O Lord, make haste to help us.</span>
</p>
<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Psalm</h2>
{{ psalm }}
<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Short Lesson</h2>
<p class="scripture">
    {{ scripture.text }}
    <span class="cite">{{ scripture.passage }}</span>
</p>

<h2>The Prayers</h2>
<p>
    <span class="versicle">Into your hands, O Lord, I commend my spirit;</span><br>
    <span class="response">For you have redeemed me, O Lord, O God of truth.</span><br>
    <span class="versicle">Keep us, O Lord, as the apple of your eye;</span><br>
    <span class="response">Hide us under the shadow of your wings.</span>
</p>
<p>
    <span class="officiant">Lord, have mercy.</span><br>
    <span class="people">Christ, have mercy.</span><br>
    <span class="officiant">Lord, have mercy.</span>
</p>

<h3>The Lord's Prayer</h3>
<p class="paternoster prayer">
    Our Father, who art in heaven,<br>
    <span class="continuation">hallowed be thy name,</span><br>
    <span class="continuation">thy kingdom come,</span><br>
    <span class="continuation">thy will be done,<br>
        <span class="continuation">on earth as it is in heaven.</span>
    </span>
</p>
<p class="paternoster prayer">
    Give us this day our daily bread.
</p>
<p class="paternoster prayer">
    And forgive us our trespasses,<br>
    <span class="continuation">as we forgive those<br>
        <span class="continuation">who trespass against us.</span>
    </span>
</p>
<p class="paternoster prayer">
    And lead us not into temptation,<br>
    <span class="continuation">but deliver us from evil.</span>
</p>

<p class="prayer">
    <span class="officiant">Lord, hear our prayer;</span><br>
    <span class="people">And let our cry come to you.</span><br>
    <span class="officiant">Let us pray.</span>
</p>

<h3>The Collect</h3>
<p class="prayer">
    {{ collect }}
    <span class="everyone">Amen.</span>
</p>

<h2>The Canticle</h2>
<p class="antiphon">
    Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.
</p>
<p class="canticle">
    Lord, you now have set your servant free to go in peace as you have promised;<br>
    For these eyes of mine have seen the Saviour, whom you have prepared for all the world to see:<br>
    A Light to enlighten the nations, and the glory of your people Israel.<br>
    Glory be to the Father, and to the Son, and to the Holy Spirit: as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>
<p class="antiphon">
    Guide us waking, O Lord, and guard us sleeping; that awake we may watch with Christ, and asleep we may rest in peace.
</p>

<h2>The Closing</h2>
<p>
    <span class="officiant">Let us bless the Lord.</span><br>
    <span class="people">Thanks be to God.</span>
</p>
<p class="officiant">
    The almighty and merciful Lord, Father, Son, and Holy Spirit, bless us and keep us. <span class="everyone">Amen</span>.
</p>
