<h2>The Confession and Absolution</h2>
<p class="confession">
    Dearly beloved, here in the presence of Almighty God,
    let us kneel in silence, and with penitent and obedient
    hearts confess our sins, that we may obtain forgiveness by
    his infinite goodness and mercy.
</p>
<p class="confession everyone">
    Most merciful God,<br>
    we confess that we have sinned against you<br>
    in thought, word, and deed,<br>
    by what we have done,<br>
    and by what we have left undone.<br>
    We have not loved you with our whole heart;<br>
    we have not loved our neighbours as ourselves.<br>
    We are truly sorry and we humbly repent.<br>
    For the sake of your Son Jesus Christ,<br>
    have mercy on us and forgive us;<br>
    that we may delight in your will,<br>
    and walk in your ways,<br>
    to the glory of your Name. Amen.
</p>
<p class="absolution">
    Almighty God have mercy on us, forgive us all our sins
    through our Lord Jesus Christ, strengthen us in all
    goodness, and by the power of the Holy Spirit keep us in
    eternal life. <span class="everyone">Amen.</span>
</p>

<h2>The Invitatory</h2>
<p>
    <span class="officiant">O God, make speed to save us.</span><br>
    <span class="people">O Lord, make haste to help us.</span>
</p>
<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Psalms</h2>
{% for psalm in config.psalms %}
{{ psalm }}
{% endfor %}
<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Magnificat</h2>
<p id="magnificat">
    My soul proclaims the greatness of the Lord,<br>
    <span class="continuation">my spirit rejoices in God my Saviour;</span><br>
    <span class="continuation">for he has looked with favour on his lowly servant.</span><br>
    From this day all generations will call me blessed:<br>
    <span class="continuation">the Almighty has done great things for me,</span><br>
    <span class="continuation">and holy is his Name.</span><br>
    He has mercy on those who fear him<br>
    <span class="continuation">in every generation.</span><br>
    He has shown the strength of his arm,<br>
    <span class="continuation">he has scattered the proud in their conceit.</span><br>
    He has cast down the mighty from their thrones,<br>
    <span class="continuation">and has lifted up the lowly.</span><br>
    He has filled the hungry with good things,<br>
    <span class="continuation">and the rich he has sent away empty.</span><br>
    He has come to the help of his servant Israel,<br>
    <span class="continuation">for he has remembered his promise of mercy,</span><br>
    The promise he made to our forebears,<br>
    <span class="continuation">to Abraham and his children for ever.</span>
</p>
<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Apostle's Creed</h2>
<p class="creed">
    I believe in God, the Father almighty,<br>
    <span class="continuation">creator of heaven and earth;</span>
</p>
<p class="creed">
    I believe in Jesus Christ, his only Son, our Lord.<br>
    <span class="continuation">He was conceived by the power of the Holy Spirit<br>
        <span class="continuation">and born of the Virgin Mary.</span>
    </span><br>
    <span class="continuation">He suffered under Pontius Pilate,<br>
        <span class="continuation">was crucified, died, and was buried.</span>
    </span><br>
    <span class="continuation">He descended to the dead.</span><br>
    <span class="continuation">On the third day he rose again.</span><br>
    <span class="continuation">He ascended into heaven,<br>
        <span class="continuation">and is seated at the right hand of the Father.</span>
    </span><br>
    <span class="continuation">He will come again to judge the living and the dead.</span>
</p>
<p class="creed">
    I believe in the Holy Spirit,<br>
    <span class="continuation">the holy catholic Church,</span><br>
    <span class="continuation">the communion of saints,</span><br>
    <span class="continuation">the forgiveness of sins</span><br>
    <span class="continuation">the resurrection of the body,</span><br>
    <span class="continuation">and the life everlasting. Amen.</span>
</p>

<h2>The Prayers</h2>
<p class="prayer">
    <span class="officiant">The Lord be with you.</span><br>
    <span class="people">And also with you.</span><br>
    <span class="officiant">Let us pray.</span>
</p>

<h3>The Lord's Prayer</h3>
<p class="paternoster prayer">
    Our Father, who art in heaven,<br>
    <span class="continuation">hallowed be thy name,</span><br>
    <span class="continuation">thy kingdom come,</span><br>
    <span class="continuation">thy will be done,<br>
        <span class="continuation">on earth as it is in heaven.</span>
    </span>
</p>
<p class="paternoster prayer">
    Give us this day our daily bread.
</p>
<p class="paternoster prayer">
    And forgive us our trespasses,<br>
    <span class="continuation">as we forgive those<br>
        <span class="continuation">who trespass against us.</span>
    </span>
</p>
<p class="paternoster prayer">
    And lead us not into temptation,<br>
    <span class="continuation">but deliver us from evil.</span>
</p>
<p class="paternoster prayer">
    For thine is the kingdom,<br>
    <span class="continuation">and the power, and the glory,</span><br>
    <span class="continuation">for ever and ever. Amen.</span>
</p>

<h3>The Suffrages</h3>
<p id="suffrages" class="prayer">
    <span class="versicle">Show us your mercy, O Lord;</span><br>
    <span class="response">And grant us your salvation.</span><br>
    <span class="versicle">Clothe your ministers with righteousness;</span><br>
    <span class="response">Let your people sing with joy.</span><br>
    <span class="versicle">Give peace, O Lord, in all the world;</span><br>
    <span class="response">For only in you can we live in safety.</span><br>
    <span class="versicle">Lord, keep this nation under your care;</span><br>
    <span class="response">And guide us in the way of justice and truth.</span><br>
    <span class="versicle">Let your way be known upon earth;</span><br>
    <span class="response">Your saving health among all nations.</span><br>
    <span class="versicle">Let not the needy, O Lord, be forgotten;</span><br>
    <span class="response">Nor the hope of the poor be taken away.</span><br>
    <span class="versicle">Create in us clean hearts, O God;</span><br>
    <span class="response">And sustain us with your Holy Spirit.</span>
</p>

<h3>The Collects</h3>
<p class="prayer collect daily">
    {{ daily_collect }}
    <span class="everyone">Amen.</span>
</p>
<p class="prayer collect">
    {{ fixed_collect }}
    <span class="everyone">Amen.</span>
</p>
<p class="prayer collect">
    {{ prayer_for_mission }}
    <span class="everyone">Amen.</span>
</p>

<h3>The General Thanksgiving</h3>
<p class="prayer">
    Almighty God, Father of all mercies,
    we your unworthy servants give you humble thanks
    for all your goodness and loving-kindness
    to us and to all whom you have made.
    We bless you for our creation, preservation,
    and all the blessings of this life;
    but above all for your immeasurable love
    in the redemption of the world by our Lord Jesus Christ;
    for the means of grace, and for the hope of glory.
    And, we pray, give us such an awareness of your mercies,
    that with truly thankful hearts we may show forth your praise,
    not only with our lips, but in our lives,
    by giving up our selves to your service,
    and by walking before you
    in holiness and righteousness all our days;
    through Jesus Christ our Lord,
    to whom, with you and the Holy Spirit,
    be honour and glory throughout all ages. Amen.
</p>

<h3>A Prayer of St. Chrysostom</h3>
<p class="prayer">
    Almighty God, you have given us grace at this time with one
    accord to make our common supplication to you; and you
    have promised through your well-beloved Son that when two
    or three are gathered together in his Name you will be in the
    midst of them: Fulfil now, O Lord, our desires and petitions
    as may be best for us; granting us in this world knowledge of
    your truth, and in the age to come life everlasting. Amen.
</p>

<h2>The Closing</h2>
<p class="prayer">
    <span class="officiant">Let us bless the Lord.</span><br>
    <span class="people">Thanks be to God.</span>
</p>
<p>
    <span class="officiant">The grace of our Lord Jesus Christ, and the love of God, and the fellowship of the Holy Spirit, be with us all evermore.</span><br>
    <span class="everyone">Amen.</span>
</p>
