<h2>The Invitatory</h2>
<p>
    <span class="officiant">O God, make speed to save us</span><br>
    <span class="people">O Lord, make haste to help us</span><br>
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Psalm</h2>
{{ psalm }}

<p class="gloriapatri prayer">
    Glory be to the Father, and to the Son, and to the Holy Spirit:
    as it was in the beginning, is now, and ever shall be; world without end. Amen.
</p>

<h2>The Short Lesson</h2>
<p class="scripture">
    {{ scripture.text }}
    <span class="cite">{{ scripture.passage }}</span>
</p>

<h2>The Prayers</h2>
<p class="prayer">
    <span class="officiant">Lord, have mercy.</span><br>
    <span class="people">Christ, have mercy.</span><br>
    <span class="officiant">Lord, have mercy.</span>
</p>

<h3>The Lord's Prayer</h3>
<p class="paternoster prayer">
    Our Father, who art in heaven,<br>
    <span class="continuation">hallowed be thy name,</span><br>
    <span class="continuation">thy kingdom come,</span><br>
    <span class="continuation">thy will be done,<br>
        <span class="continuation">on earth as it is in heaven.</span>
    </span>
</p>
<p class="paternoster prayer">
    Give us this day our daily bread.
</p>
<p class="paternoster prayer">
    And forgive us our trespasses,<br>
    <span class="continuation">as we forgive those<br>
        <span class="continuation">who trespass against us.</span>
    </span>
</p>
<p class="paternoster prayer">
    And lead us not into temptation,<br>
    <span class="continuation">but deliver us from evil.</span>
</p>

<p class="prayer">
    <span class="officiant">Lord, hear our prayer;</span><br>
    <span class="people">And let our cry come to you.</span><br>
    <span class="officiant">Let us pray.</span>
</p>

<h3>The Collect</h3>
<p class="prayer">
    {{ collect }}
    <span class="everyone">Amen.</span>
</p>

<p class="prayer">
    <span class="officiant">Let us bless the Lord.</span><br>
    <span class="people">Thanks be to God.</span>
</p>
