<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Daily Prayer - {{ week }}</title>
    <style>
        {{ css }}
    </style>
</head>

<body>
    {% for prayer in prayers %}
    {{ prayer }}
    {% endfor %}
</body>
</html>
