<!DOCTYPE html>
<html>
    <head>
        <title>Daily Prayer - {{ week }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/writ.css">
        <link rel="stylesheet" href="prayer.css">
        <script src="prayer.js"></script>
    </head>
    <body>
        <header>
            <h1>Daily Prayer - {{ week }}</h1>
        </header>
        <nav>
            <p>
                <a href="#sunday-morning">Sunday Morning Prayer</a><br>
                <a href="#sunday-noonday">Sunday Noonday Prayer</a><br>
                <a href="#sunday-evening">Sunday Evening Prayer</a><br>
                <a href="#sunday-compline">Sunday Compline</a><br>
            </p>

            <p>
                <a href="#monday-morning">Monday Morning Prayer</a><br>
                <a href="#monday-noonday">Monday Noonday Prayer</a><br>
                <a href="#monday-evening">Monday Evening Prayer</a><br>
                <a href="#monday-compline">Monday Compline</a><br>
            </p>

            <p>
                <a href="#tuesday-morning">Tuesday Morning Prayer</a><br>
                <a href="#tuesday-noonday">Tuesday Noonday Prayer</a><br>
                <a href="#tuesday-evening">Tuesday Evening Prayer</a><br>
                <a href="#tuesday-compline">Tuesday Compline</a><br>
            </p>

            <p>
                <a href="#wednesday-morning">Wednesday Morning Prayer</a><br>
                <a href="#wednesday-noonday">Wednesday Noonday Prayer</a><br>
                <a href="#wednesday-evening">Wednesday Evening Prayer</a><br>
                <a href="#wednesday-compline">Wednesday Compline</a><br>
            </p>

            <p>
                <a href="#thursday-morning">Thursday Morning Prayer</a><br>
                <a href="#thursday-noonday">Thursday Noonday Prayer</a><br>
                <a href="#thursday-evening">Thursday Evening Prayer</a><br>
                <a href="#thursday-compline">Thursday Compline</a><br>
            </p>

            <p>
                <a href="#friday-morning">Friday Morning Prayer</a><br>
                <a href="#friday-noonday">Friday Noonday Prayer</a><br>
                <a href="#friday-evening">Friday Evening Prayer</a><br>
                <a href="#friday-compline">Friday Compline</a><br>
            </p>

            <p>
                <a href="#saturday-morning">Saturday Morning Prayer</a><br>
                <a href="#saturday-noonday">Saturday Noonday Prayer</a><br>
                <a href="#saturday-evening">Saturday Evening Prayer</a><br>
                <a href="#saturday-compline">Saturday Compline</a><br>
            </p>
        </nav>
        <main>
            {% for prayer in prayers %}
            {{ prayer }}
            {% endfor %}
        </main>
    </body>
</html>
